.all-match-container{
    padding-top: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;   
    background: rgb(1, 126, 207);
background: linear-gradient(0deg, rgba(1,126,207,1) 0%, rgba(1,147,207,1) 100%);

}

.submit-match{
    margin:1em;
}

.match-main-container{
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    color: white;
    background: rgb(194,136,41);
    background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
    border-radius: 1em;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    h1{
        padding-top: 0;
    }
    ul{
        padding-top: 0;
    }

    .titles-list{
        // make this take up as much height split between elements evenly as possible
        padding-left: 0.4em;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .explainations-list{
        padding-left: 0;
        padding-right: 0.4em;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
}


.all-match-element{
    min-height: 50px;
    background: rgb(7,101,195);
    background: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    
    p{
        margin-bottom: 0;
    }
}

.emoj{

    margin-top: 1em;
    background: rgb(194,136,41);
    background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
    transition: transform .6s; /* Animation */
    transform: scale(1);
    &:hover{
      transition: transform .6s; /* Animation */
      transform: scale(1.19);
  }
}

.rating-container{
    margin:1em;
    .rating-button{
      padding: 0.5em;
      margin: 1em;
    }
    .rating-down{
      transform: rotate(180deg);
    }
  }

    .title-container{
        max-width: 160px;
    }
    .explainations-container{
        max-width: 160px;
    }
    .all-match-element{
        min-height: 80px;
        max-width: 120px;
    }

@media all and (max-height: 670px) {

    .all-match-element{
        min-height: 50px;
        p{
            font-size: 0.7em;
        }
    }
    }

  @media all and (max-height: 700px) {

    .all-match-element{
        min-height: 50px;
        p{
            font-size: 0.8em;
        }
    }
  }

  @media all and (min-width: 500px) {

    .match-main-container{
        min-width: 470px
    }
    .title-container{
        max-width: 300px;
    }
    .explainations-container{
        max-width: 300px;
    }
    .all-match-element{
        min-height: 80px;
        max-width: 250px;
    }

    .submit-match{
        margin:3em;
    }
  }