.initial-register-modal-footer{
    margin: 1rem;
    .initial-register-buttons{
        margin-right: 1.5em;
    }
    
}

.initial-register-all{
    background: var(--GradientRoundLighterBlue);
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    display: flex;
}

.initial-register-form{
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 25px;
    background: var(--GradientRoundWhite);
    width: 40%;
    min-width: 380px;
    max-width: 600px;
    .login-logo{
        margin-top: 0;
        margin-bottom: 5px;
        background: var(--GradientYellow);
        padding: 10px;
        border-radius: 2.5em;    
        width: 175px;
        height: 160px;
    }
    .note{
        text-align: center;
    }
    .initial-register-information{
        margin: 0;
    }
    
    .initial-register-label{
        margin: 0.5em;
    }
    .initial-register-text{
        margin-bottom: 0.2em;
        font-size: 1.1em;
    }
}

.initial-register-input {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    text-align: center;
    border: 4px outset rgb(175, 175, 175);
    min-width: 220px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    margin: 0 auto;
    max-width: 225px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.initial-register-modal{

    text-align: center;


    input[type="submit"] { // can also select things like this
        color: black;
        font-weight: bold;
        font-size: 1.1em;
        padding: .4em 2em;
        margin-left: 1em;
        border-radius: 1em;
        border: 5px outset rgb(175, 175, 175);
        transition: transform .6s;
        transform: scale(1);
        &:hover {
            transition: transform .6s;
            transform: scale(1.1);
        }
    }

    .modules-register{
        margin-top: 2em;
    //     .modules-register-list{
    //         list-style: none;
    //         background: var(--LightGray);
    //         border-radius: 15px;
    //         margin-bottom: 0;
    //         overflow: scroll;
    //         max-height: 466px;
    //         padding: 1em;
    //         .modules-register-entry{
    //             display:flex;
    //             margin-top: 0.5em;
    //             margin-bottom: 0.5em;
    //             background: white;
    //             border-radius: 15px;
    //             height: 90px;
    //             .modules-entry-text{
    //                 text-align: left;
    //                 margin:1em;
    //                 .module-entry-name{
    //                     margin: 0;
    //                     padding: 0;
    //                 }
    //             }
    //             .module-entry-add{
    //                 max-height: 40px;
    //                 position: absolute;
    //                 right: 5px;
    //                 top: 10px;
    //             }
    //         }
    //     }
    
    }

    .initial-register-modal-footer{
        .module-selection-button{
            margin-right: 1.5em;
        }
    }
    
    .avatar-select-entry{
        display:flex;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        background: white;
        border-radius: 15px;
        height: 90px;
        .avatar-selection{
            padding-top:5px;
            width: 85px;
            height: 85px;
        }
        .module-entry-add{
            max-height: 40px;
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }
    
}


@media only screen and (max-width: 700px) {
    .initial-register-text{
        font-size:0.9em;
    }
    .initial-register-form{

        padding: 20px;
        transform: scale(0.8, 0.8);
        position: relative;
    }

}

@media only screen and (max-width:450px) {
    .modal-body{
        padding-top: 0;
    }

    .initial-register-button{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .initial-register-modal{
    
        input[type="submit"] { // can also select things like this
            margin-top: 0;
            margin-left: 0;
            transform: scale(0.7);
            &:hover {
                transition: transform .6s;
                transform: scale(0.8);
            }
        }
    
        .modules-register{
            margin-top: 0.5em;
            .modules-register-list{
                list-style: none;
                background: var(--LightGray);
                border-radius: 15px;
                margin-bottom: 0;
                max-height: 340px;
                
                .modules-register-entry{
                    display:flex;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                    background: white;
                    border-radius: 15px;
                    height: 90px;
    
                    .modules-entry-text{
                        text-align: left;
                        margin:1em;
                        .module-entry-name{
                            margin: 0;
                        }
                    }
                    .module-entry-add{
                        max-height: 40px;
                        max-width: 60px;
                        position: absolute;
                        right: 5px;
                        top: 10px;
                    }
                }
            }
        }
    
        .initial-register-modal-footer{
            .module-selection-button{
                margin-right: 1.5em;
            }
        }
    }
}