.dashboard {
  overflow: hidden;
  height: 89vh;
  margin: 0 auto;
  margin-top: 4em;
  max-width: 1600px;
}
.dashboard .dashboard-element-heading {
  padding-top: 0.5em;
}
.dashboard .note {
  text-align: center;
}
.dashboard .dashboard-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.dashboard .dashboard-list li {
  style: none;
}
.dashboard .dashboard-list .dashboard-row-1 {
  z-index: 1;
}
.dashboard .dashboard-list .dashboard-row-2 {
  z-index: 1;
  bottom: 270px;
}
.dashboard li {
  flex-grow: 1;
  flex-basis: 0;
}

.dashboard-row-1 {
  z-index: 1;
  display: flex;
}

.dashboard-row-2 {
  z-index: 1;
  position: relative;
  bottom: 270px;
  display: flex;
}

.dashboard-element {
  min-height: 363px;
  background: var(--GradientRoundWhite);
  margin: 1em;
  text-align: center;
  padding: 1em;
}

.dashboard-element-center {
  background: var(--GradientRoundWhite);
  height: 245px;
  margin: 0.5em;
  text-align: center;
  border-radius: 15px;
}

.top-left-element {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 65%, 83% 65%, 83% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 0, 100% 0, 100% 65%, 83% 65%, 83% 100%, 0 100%, 0 0);
  text-align: center;
  border-radius: 15px;
}
.top-left-element .activity-submit {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.top-right-element {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 17% 100%, 17% 65%, 0 65%, 0 0);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 17% 100%, 17% 65%, 0 65%, 0 0);
  text-align: center;
  border-radius: 15px;
}
.top-right-element .article-submit {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.bottom-left-element {
  -webkit-clip-path: polygon(0% 0%, 83% 0, 83% 35%, 100% 35%, 100% 100%, 50% 100%, 0 100%);
          clip-path: polygon(0% 0%, 83% 0, 83% 35%, 100% 35%, 100% 100%, 50% 100%, 0 100%);
  text-align: center;
  border-radius: 15px;
}
.bottom-left-element h4 {
  margin-right: 1em;
}
.bottom-left-element .modules-text {
  margin-right: 2em;
}
.bottom-left-element .module-submit {
  right: 20px;
  bottom: 10px;
  position: absolute;
}

.bottom-right-element {
  -webkit-clip-path: polygon(17% 0, 100% 0%, 100% 75%, 100% 100%, 0 100%, 0 35%, 17% 35%);
          clip-path: polygon(17% 0, 100% 0%, 100% 75%, 100% 100%, 0 100%, 0 35%, 17% 35%);
  text-align: center;
  border-radius: 15px;
  align-items: center;
}
.bottom-right-element h4 {
  margin-left: 1.5em;
}
.bottom-right-element .stats-text {
  margin-left: 1.5em;
  margin-top: 7em;
}
.bottom-right-element .stats-submit {
  left: 20px;
  bottom: 10px;
  position: absolute;
}

.top-center-element .profile-info .profile-preview-text {
  text-align: left;
  left: 30px;
  position: absolute;
  padding-top: 0.2em;
}
.top-center-element .profile-info .profile-preview-text .profile-preview-line {
  margin: 0.6em;
}
.top-center-element .profile-info .profile-img {
  position: absolute;
  bottom: 50px;
  right: 30px;
  border-radius: 2em;
  width: 140px;
  padding: 5px;
  height: 140px;
  border: 5px outset rgb(175, 175, 175);
}
.top-center-element .profile-info .profile-submit {
  position: absolute;
  background-color: rgb(221, 77, 192);
  left: 30px;
  bottom: 20px;
  margin: 0;
}

.bottom-center-element {
  position: relative;
  top: 120px;
  margin-top: 1em;
}
.bottom-center-element .feedback-form {
  margin-top: 1em;
}
.bottom-center-element .feedback-form .feedback-text {
  width: 90%;
  min-height: 85px;
  border: 5px outset rgb(175, 175, 175);
  border-radius: 15px;
}
.bottom-center-element .feedback-form .feedback-submit {
  bottom: 0;
  position: relative;
}

.dashboard-middle-element-center {
  z-index: 99;
  position: relative;
  bottom: 120px;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  border-radius: 15px;
  background: var(--GradientRoundWhite);
  width: 40%;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1180px) {
  .top-center-element .profile-info .profile-img {
    display: none;
  }
  .top-center-element .profile-info .profile-preview-text {
    text-align: center;
    position: relative;
    left: 0;
  }
  .top-center-element .profile-info .profile-submit {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 2.2em;
    background-color: rgb(221, 77, 192);
    bottom: 25px;
  }
  .dashboard-row-1 {
    margin: 0.1em;
  }
  .dashboard-row-2 {
    margin: 0.1em;
  }
}
@media only screen and (max-width: 800px) {
  .dashboard-row-1 * {
    transform: scale(0.95, 0.95);
  }
  .dashboard-row-2 * {
    transform: scale(0.95, 0.95);
  }
  .dashboard-middle-element-center {
    transform: scale(0.9, 0.9);
  }
  .dashboard-middle-element-center:hover {
    transform: scale(0.85, 0.85);
    transition: transform 0.6s;
    transform: scale(0.95);
  }
  .dashboard-element {
    margin: 0.1em;
  }
  .dashboard-element-center {
    margin: 0.03em;
  }
  .dashboard-middle-element-center {
    padding: 1em;
  }
  .bottom-center-element {
    position: relative;
    top: 120px;
  }
}
@media only screen and (max-width: 600px) {
  .dashboard {
    height: 100vh;
    overflow: visible;
    margin: 0 auto;
    margin-top: 5em;
  }
  .dashboard .dashboard-row-1 {
    display: block;
  }
  .dashboard .dashboard-row-2 {
    position: relative;
    display: block;
  }
  .dashboard .dashboard-row-1 * {
    transform: scale(1, 1);
  }
  .dashboard .dashboard-row-2 * {
    transform: scale(1, 1);
  }
  .dashboard .dashboard-element {
    min-height: 320px;
    margin: 1.5em;
    margin-bottom: 3em;
  }
  .dashboard .dashboard-element-center {
    min-height: 320px;
    margin: 1.5em;
    margin-bottom: 3em;
  }
  .dashboard .top-left-element {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }
  .dashboard .top-left-element .activity-submit {
    position: relative;
    left: 30%;
    bottom: 0;
    top: 160px;
    margin: 0;
    margin-top: 20px;
  }
  .dashboard .top-left-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .top-right-element {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }
  .dashboard .top-right-element .article-submit {
    position: relative;
    right: 0;
  }
  .dashboard .top-right-element .article-submit:hover {
    transform: scale(1.06, 1.06);
    transition: transform 0.6s;
    transform: scale(1.06);
  }
  .dashboard .top-right-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .bottom-left-element {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }
  .dashboard .bottom-left-element h4 {
    margin-right: 0;
  }
  .dashboard .bottom-left-element .modules-text {
    margin-right: 0;
  }
  .dashboard .bottom-left-element .module-submit {
    right: 0;
    position: relative;
  }
  .dashboard .bottom-left-element .module-submit:hover {
    transform: scale(1.06, 1.06);
    transition: transform 0.6s;
    transform: scale(1.06);
  }
  .dashboard .bottom-left-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .bottom-right-element {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }
  .dashboard .bottom-right-element h4 {
    margin-left: 0;
  }
  .dashboard .bottom-right-element .stats-text {
    margin-left: 0;
  }
  .dashboard .bottom-right-element .stats-submit {
    left: 0;
    position: relative;
  }
  .dashboard .bottom-right-element .stats-submit:hover {
    transform: scale(1.06, 1.06);
    transition: transform 0.6s;
    transform: scale(1.06);
  }
  .dashboard .bottom-right-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .top-center-element .profile-preview-text {
    text-align: left;
    left: 30px;
    bottom: 90px;
  }
  .dashboard .top-center-element .profile-preview-text .profile-preview-line {
    margin: 0.6em;
  }
  .dashboard .top-center-element .profile-info .profile-img {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 25%;
    border-radius: 2em;
    right: 30px;
    width: 100px;
    padding: 5px;
    height: 100px;
  }
  .dashboard .top-center-element .profile-info .profile-submit {
    position: relative;
    left: 30%;
    bottom: 0;
    margin: 0;
    margin-top: 20px;
  }
  .dashboard .top-center-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .bottom-center-element {
    position: relative;
    top: 0;
  }
  .dashboard .bottom-center-element .feedback-form .feedback-text {
    width: 90%;
  }
  .dashboard .bottom-center-element .feedback-form .feedback-submit {
    bottom: 0;
    position: relative;
  }
  .dashboard .bottom-center-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
  .dashboard .dashboard-middle-element-center {
    display: block;
    width: 95%;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 400px) {
  .dashboard {
    height: auto;
    overflow: visible;
    margin: 0 auto;
    margin-top: 5em;
  }
  .dashboard .top-center-element .profile-preview-text {
    text-align: center;
    left: 0;
    bottom: 0;
    top: 25px;
  }
  .dashboard .top-center-element .profile-preview-text .profile-preview-line {
    margin: 0.6em;
  }
  .dashboard .top-center-element .profile-info .profile-img {
    top: 15px;
    left: 0;
  }
  .dashboard .top-center-element .profile-info .profile-submit {
    position: relative;
    left: 30%;
    bottom: 0;
    margin: 0;
    margin-top: 20px;
  }
  .dashboard .top-center-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
}
@media only screen and (max-width: 345px) {
  .dashboard .top-left-element {
    -webkit-clip-path: none;
            clip-path: none;
    text-align: center;
  }
  .dashboard .top-left-element .activity-submit {
    position: relative;
    left: 25%;
    bottom: 0;
    top: 130px;
    margin: 0;
  }
  .dashboard .top-left-element:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s;
    transform: scale(1.05);
  }
}/*# sourceMappingURL=Dashboard.css.map */