h2{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

p{
    font-size: 1.2em;
}

.home{
    max-width: 1100px;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
    section{
       padding: 5em 0em 5em 0em;
    }

    .home-heading{
        margin: 1em auto;
        padding: 0.3em;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
    }

    .home-description{
        display: inline-block;
        width: 70%;
        font-size: 1.2em;
    }

    .hero-transition{
        display: block;
    }

    .hero-section{
        padding-top: 4em;
        align-items: center;
 
        .edowl-logo{
            margin: 2em auto;
            height: 255px;
            width: 255px;
            border-radius: 4em;          
            background: var(--GradientYellow);
        }
        .edowl-logo:hover{
            border: 5px DOUBLE white;   
        }
        .btn-dark{
            width: 5em;
            color: white;
            transition: transform .6s;
            &:hover{
                border-color: white;
            }
        }
        .btn-info{
            margin: 2em;
            transition: transform .6s;
            &:hover{
                border-color: white;
            }
        }
        .btn-red{
            transition: transform .6s;
            background-color: rgb(230, 80, 80);
            width: 5em;
            color: white;
        }
        .qr-code-button{
            &:hover{
                border-color: white;
            }
        }
    }

    .features-section{
        padding-top: 8em;
        .description{
            padding: 0;
        }

        .features-list{
            margin: auto;
            padding: 1em;
            display: inline-block;
            padding-top: 1em;
            list-style-type: none;

            display: flex;
            flex-wrap: wrap;
            flex: 1 0 auto;
            flex-grow: 1;

            .features-element{
                margin: 2em auto;
                color:white;
                max-width: 400px;
                border-radius: 2em;
                background: var(--GradientYellow);
                margin-bottom: 0.7em;
                border: 0;
                .features-image{
                    width: 100px;
                }
                .feature-title{
                    text-align: center;
                    font-weight: bold;
                }
                .feature-text{
                    margin: 0;
                }
            }
        }
    }

    .contact-Section{
        max-width: 700px;
        padding: 3em;
        margin-bottom: 5em;
        padding-top: 2em;
        margin: 2em auto;
        text-align: start;
        padding: 0;
        .contact-us-form{
            width: 90%;
            margin: auto;
            .contact-us-title{
                margin-bottom: 0;
            }
            label{
                display: block;
                font-size: 1.5em;
                margin:0;
                margin-bottom:  .5em;
            }
        
            input,textarea{
                color: white;
                background: var(--GradientYellow);
                font-size:1.2em;
    
                width: 100%;
                padding: .8em;
                margin-bottom: 0.6em;
                border-radius: 1em;
                border: 5px outset rgb(175, 175, 175);
                border-style:outset;
                box-sizing: border-box;
            } 
    
            ::placeholder {
                color: white;
            }
            .contact-us-button{
                height: 50px;
                width: 100%;
            }

        }
        .contact-us-form-sucess{
            text-align:center;
            margin: 2em auto;
            margin-top:4em;
            max-width: 400px;
        }
        
        .contact-details{
            width: 80%;
            text-align: center;
            border-radius: 2.5em;
            margin: 2em auto;
            margin-top: 5em;
            margin-bottom: 5em;
            background: var(--GradientYellow);
            color: white;
            h2{
                font-size: 1.6em;
            }
            p{
                font-size: 0.9em;
                margin-bottom: 0;
            }

            .map{
                margin: 1em;
                margin-top:1.3em;
                border-radius: 1.5em;
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .home{
    .hero-section{
        padding-top: 3em;
    }

    .home-description{
        all: revert;
        margin: 1em;
    }
    
    .features-section{

        .features-list{

            .features-element{

                .feature-title{
                    font-size: 22px;
                    margin: 0.3em;
                }
                .feature-text{
                    font-size: 14px;
                }
            }

        }
    }
    
    .contact-Section{
        .contact-details{
            width: 70%;

            .map{
                margin: 1em;
                margin-top:1.3em;
                border-radius: 1.5em;
                width: 70%;
            }
        }
    }
}
}

